.cache
coverage
dist
dist-examples
docs
etc/*.api.md
node_modules
playwright-report
reports
site
test-results
**/*.vendor*.js
**/*.gltf
examples/loader/osg/**/*.gz
examples/models
examples/js/ltcTexture.json
test/asset
test/expectScreenshot
