html{
    width: 100%;
    height: 100%;
}
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

html,body,div{
    padding: 0;
    margin: 0;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hilo3dStats {
    color: #fff !important;
}